{% set assets = craft.assets()
    .kind('image')
    .orderBy('elements.dateCreated desc')
    .limit(10)
    .all() %}

{% if assets|length %}
    <table class="fullwidth">
        {% for asset in assets %}
            <tr>
                <td>
                    <a href="{{ asset.getUrl() }}">{{ asset.filename }}</a>
                    <span class="light">
                        {{ asset.dateCreated|timestamp('short') }}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>{{ 'No assets exist yet.'|t('site') }}</p>
{% endif %}
