{% set users = craft.users()
    .status(null)
    .orderBy('elements.dateCreated desc')
    .limit(10)
    .collect() %}

{% if users|length %}
    <table class="diy-elementlist--status fullwidth">
        {% for user in users %}
            <tr>
                <td>
                    <span class="status {{ user.getStatus() }}"></span>
                    <a href="{{ user.getCpEditUrl() }}">{{ user.email }}</a>
                    <span class="light">
                        {{ user.dateCreated|timestamp('short') }}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p class="zilch small">{{ 'No users exist yet.'|t('site') }}</p>
{% endif %}
