.diy-search {
    &__bar {
        .spinner {
            position: absolute;
            top: 0;
            right: -24px;
        }
    }

    &__results {
        table {
            margin-top: 15px;
        }

        table td {
            position: relative;
            padding-left: 17px;
        }

        table td .status {
            position: absolute;
            left: 0;
            top: calc(50% - 5px);
        }
    }
}
