.diy-search {
    &__bar {
        .spinner {
            position: absolute;
            top: 0;
            right: -24px;
        }
    }

    &__results {
        table {
            margin-top: 7px;
        }

        table td {
            border-top: 0px !important;
            position: relative;
            padding-left: 27px;
        }

        table td .status {
            position: absolute;
            top: calc(50% - 5px);
            left: 9px;
        }
    }
}
