.diy-ratio {
    position: relative;

    &:after {
        content: '';
        display: block;
        height: 0;
        width: 100%;
        padding-bottom: 100%;
        background-color: #fafafa;
    }

    & > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.diy-ratio-2\/3:after {
    padding-bottom: calc(3 / 2 * 100%);
}

.diy-ratio-3\/4:after {
    padding-bottom: calc(4 / 3 * 100%);
}

.diy-ratio-3\/2:after {
    padding-bottom: calc(2 / 3 * 100%);
}

.diy-ratio-4\/3:after {
    padding-bottom: calc(3 / 4 * 100%);
}
