{% set endDate = '2016-08-05T10:00:00-06:00' %}
{% set short = false %}

{% set timeRemaining = endDate|date('U') - now|date('U') %}

{% set components = ['Days', 'Hours', 'Minutes', 'Seconds'] %}
{% set components = short ? components[1:3] : components[0:3] %}

{% set endHtml %}
    <h1>Tadaa!!</h1>
{% endset %}

<div class="countdown hidden">
    <ul class="countdown__inner">
        {% for item in components %}
            <li class="countdown__item">
                <span class="countdown__value {{ item|lower }}"></span>
                <span class="countdown__lable light">{{ item|t }}</span>
            </li>
        {% endfor %}
    </ul>
</div>

{% set jsSettings = {
    widgetId: widget.id,
    timeRemaining: timeRemaining,
    endHtml: endHtml,
} %}

{% includejs %}
    new Craft.DiyWidget.Countdown({{ jsSettings|json_encode|raw }});
{% endincludejs %}
