/**
 * Weekday Bear
 */

.placebear {
  max-width: 100%;
}

/**
 * Search
 */

.search-results table {
  margin-top: 10px;
}

.search-results table td {
  border-top: 0px !important;
  position: relative;
  padding-left: 27px;
}

.search-results table td .status {
  position: absolute;
  top: calc(50% - 5px);
  left: 9px;
}

/**
 * Countdown
 */

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
}

.countdown__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.countdown__item {
  padding: 0 8px 10px 8px;
  text-align: center;
}

.countdown__value,
.countdown__label {
  display: block;
}

.countdown__value {
  font-size: 52px;
  line-height: 1.1;
}
