namespace carlcs\diywidget\widgets;

use carlcs\diywidget\base\BaseWidget;
use Craft;

class {$className} extends BaseWidget
{
    public static function displayName(): string
    {
        return "{$displayName}";
    }

    public static function icon(): ?string
    {
        return "{$iconPath}" ?: null;
    }

    public static function templatePath(): ?string
    {
        return "{$templatePath}";
    }
}
